.side-box{
    border-radius: 1em;
    background-color: var(--color-custom-white);
    padding: 2em;
}

.side-image-option{
    margin-bottom: 2em;
}

.side-name-text{
    font-style: italic;
    font-weight: bold;
    font-size: 1.2em;
}

.side-email-text{
    color: var(--color-sub-script);
    font-size: 0.9em;
}